@model CoolEventsWeb.ViewModels.TicketViewModel

<form method="post" asp-action="Create">
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-6 text-right">
                <label asp-for="Ticket"></label>
            </div>
            <div class="col-6 text-left">
                <input asp-for="Ticket" placeholder="Ticket">
                <span asp-validation-for="Ticket" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6 text-right">
                <label asp-for="User"></label>
            </div>
            <div class="col-6 text-left">
                <input asp-for="User" placeholder="User">
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6 text-right">
                <label asp-for="Event"></label>
            </div>
            <div class="col-6 text-left">
                <input asp-for="Event" placeholder="Event">
                <span asp-validation-for="Event" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success">Create</button>
                <br />
                <a asp-controller="Ticket" asp-action="Index">Back</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
