@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cool Events</h1>
    <p>Cool Events is an app for reservation of tickets for events.</p>
    <!-- <a href="../UserController/Index">test1</a>
    <a href="../EventController/Index">test2</a>
    <a href="../TicketController/Index">test3</a> 
    
    <div>
        Number of users is @ViewBag.UserCount
        Number of events is @ViewBag.EventCount
        Number of tickets is @ViewBag.TicketCount
    </div> -->
</div>
